.logedin_layout {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: #9e9e65;
  padding: 5px 20px;
}
.nav-link {
  border-radius: 10px;
  margin: 0 10px;
  &:hover {
    background-color: rgb(104, 48, 48);
    color: white;
  }
}
.menuHeader {
  min-height: 40px;
  max-width: 100%;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 7px 7px -2px rgb(63, 54, 54);
  color: white;
  display: flex;
  background-color: rgba($color: #551010, $alpha: 0.7);
}
.menuHeader {
  padding: 15px;
  position: relative;
  li.nav_linkk {
    list-style-type: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  span {
   padding: 10px;
    &:hover{
        background-color: rgba($color: #dbb8b8, $alpha: 0.6);
        color: black;
    }
  }
  span + ul {
    li {
      a {
        color: black;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        &:hover{
            background-color: black;
            color: white;
        }
      }
    }
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: none;
    background-color: white;
    color: black;
    &:hover {
      display: block;
    }
    li.nav_linkk {
      color: black;
      list-style-type: none;
    }
  }
  span {
    &:hover {
      + ul {
        display: block;
      }
    }
  }
}
